/* combined.component.css */
.combined-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Asegura que haya espacio entre los componentes */
  gap: 20px; /* Ajusta el espacio entre los componentes */
}

.grafica-item {
  width: 100%;
  max-width: 48%; /* Asegura que ambos componentes no excedan el 48% del ancho */
  min-width: 300px; /* Evita que los componentes sean demasiado pequeños */
  box-sizing: border-box;
  margin-left: 50vw;
}

