<div class="p-4 space-y-4">  
    <!-- Tabla con filas clickeables -->
    <div class="overflow-x-auto">
      <table id="miTabla" datatable [dtOptions]="dtOptions" 
        class="min-w-full border border-gray-300 shadow-lg rounded-lg">
        <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal sticky top-0 shadow-md">
          <tr class="bg-gray-800 text-white">
            <th (click)="toggleFila(0)" class="px-4 py-2 text-left cursor-pointer">
              ID
              <span class="inline-block ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </th>
            <th (click)="toggleFila(1)" class="px-4 py-2 text-left cursor-pointer">
              Nombre
              <span class="inline-block ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </th>
            <th (click)="toggleFila(2)" class="px-4 py-2 text-left cursor-pointer">
              Tipo
              <span class="inline-block ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </th>
            <th (click)="toggleFila(3)" class="px-4 py-2 text-left cursor-pointer">
              Valor
              <span class="inline-block ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sensor of sensores; let i = index" 
            class="border-b bg-white hover:bg-gray-100"
            [class.hidden]="filasVisibles[i]">
            <td>{{ sensor.id }}</td>
            <td>{{ sensor.nombre }}</td>
            <td>{{ sensor.tipo }}</td>
            <td>{{ sensor.valor }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  