<nav class="navbar">
  <!-- Contenedor que alinea a la derecha -->
  <div class="ml-auto">
    <!-- Icono Usuario -->
    <div class="user-icon-container">
      <button class="user-button">
        <span>Usuario</span>
        <img class="user-avatar" src="https://unsplash.com/es/fotos/silueta-de-la-ilustracion-del-hombre-2LowviVHZ-E" />
      </button>
      <div class="user-dropdown">
        <button class="dropdown-item" style="width: 8rem;">Perfil</button>
        <button class="dropdown-item" style="width: 8rem;" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
