<nav class="navbar">
  <div class="nav-left">
    <!-- Lista de ejercicios -->
    <div class="exercise-container">
      <button class="exercise-button">
        <span>Ejercicios</span>
      </button>
      <div class="exercise-dropdown">
        <button
          class="dropdown-item"
          *ngFor="let item of displayedExercises"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </button>
      </div>
    </div>

    <div class="exercise-container">
      <button class="exercise-button">
        <span>Tablas</span>
      </button>
      <div class="exercise-dropdown">
        <button
          class="dropdown-item"
          *ngFor="let item of displayedTables"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </button>
      </div>
    </div>
    <div class="exercise-container">
      <button class="exercise-button">
        <span>Graficas</span>
      </button>
      <div class="exercise-dropdown">
        <button
          class="dropdown-item"
          *ngFor="let item of displayedGraphs"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </button>
      </div>
    </div>

    <!-- Botón de usuario -->
    <div class="user-icon-container">
      <button class="user-button">
      </button>
      <div class="user-dropdown">
        <button class="dropdown-item">Perfil</button>
        <button class="dropdown-item" (click)="onLogout()">
          Cerrar Sesión
        </button>
      </div>
    </div>
  </div>
</nav>
