<nav class="navbar">
  <div class="nav-left">
    <!-- Buscador -->
    <input
      class="buscador"
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Busca tus ejercicios aquí..."
    />

    <!-- Lista de ejercicios -->
    <div class="exercise-container">
      <button class="exercise-button">
        <span>Ejercicios</span>
      </button>
      <div class="exercise-dropdown">
        <button
          class="dropdown-item"
          *ngFor="let item of displayedItems"
          [routerLink]="item.route"
          routerLinkActive="active"
        >
          {{ item.name }}
        </button>
      </div>
    </div>

    <!-- Botón de usuario -->
    <div class="user-icon-container">
      <button class="user-button">
        <span>Usuario</span>
        <img
          class="user-avatar"
          src="https://unsplash.com/es/fotos/silueta-de-la-ilustracion-del-hombre-2LowviVHZ-E"
        />
      </button>
      <div class="user-dropdown">
        <button class="dropdown-item">Perfil</button>
        <button class="dropdown-item">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</nav>
