<div class="sidebar">
  <ul class="sidebar-list">
    <li *ngFor="let item of displayedItems; let i = index">
      <a
        class="sidebar-item"
        [routerLink]="item.route"
        [ngClass]="{ active: currentRoute === item.route }"
        (click)="toggleDropdown(i)"
      >
        {{ item.name }}
      </a>

      <!-- Submenú -->
      <ul *ngIf="item.isOpen" class="submenu">
        <li>
          <a class="submenu-item" (click)="toggleSubmenu(i)">
            {{ item.menu.name }}
          </a>

          <!-- Sub-submenú -->
          <ul *ngIf="!item.menu.Open" class="submenu">
            <li>
              <a class="submenu-item">
                {{ item.menu.submenu.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
