/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  width: 100vw;
  
}
app-toolbar {
  position: relative;
  z-index: 10; 
}
/* Sidebar: Ocupa el 25% del ancho */
.sidebar {
  width: 25vw;
  transition: width 0.3s ease-in-out;
}

/* Cuando el sidebar está oculto */
.hidden {
  width: 0;
  overflow: hidden;
}

/* Contenido dinámico */
.content {
  width: 100vw; 
  padding: 1rem;
  background-color: #D0CEBA; 
  transition: width 0.3s ease-in-out;
  padding-top: 9vh;
}

/* Cuando el sidebar está oculto, el contenido ocupa el 100% */
.content.expanded {
  width: 100vw;
}

/* Botón de alternar Sideba*/
.toggle-sidebar-btn {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 1000;
  background-color: #1f293723; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;

  &:hover {
    background-color: #3741514b; 
  }
}

/* Mueve el botón cuando el sidebar está visible */
.sidebar:not(.hidden) + .toggle-sidebar-btn {
  left: 260px;
}
/* Breadcrumb ajustable según el estado del Sidebar */
app-breadcrumb {
  background-color: #f6f7f9; /* Fondo transparente */
  color: #000;
  text-align: center;
  padding: 0.75rem;
  position: fixed;
  top: 5vh; /* Espacio debajo del navbar y botón de alternar */
  width: 100vw;
  box-sizing: border-box;
  z-index: 1;
}

/* Cuando el sidebar está activo (visible), el breadcrumb ocupa el 75% del ancho */
.breadcrumb-sidebar-visible {
  margin-left: 25vw;
  width: 75vw;
  top: 5vh;
}

