<div class="sidebar">
  <h2 class="sidebar-title">Menú</h2>
  <ul class="sidebar-list">
    <li><a class="sidebar-item" routerLink="/page1" routerLinkActive="active">Ejercicio 1</a></li>
    <li><a class="sidebar-item" routerLink="/page2" routerLinkActive="active">Ejercicio 2</a></li>
    <li><a class="sidebar-item" routerLink="/page3" routerLinkActive="active">Ejercicio 3</a></li>
    <li><a class="sidebar-item" routerLink="/page4" routerLinkActive="active">Ejercicio 4</a></li>
    <li><a class="sidebar-item" routerLink="/page5" routerLinkActive="active">Ejercicio 5</a></li>
    <li><a class="sidebar-item" routerLink="/page6" routerLinkActive="active">Ejercicio 6</a></li>
  </ul>
</div>
